#dialog-box {
  bottom: 24%;
  padding: 1rem 1rem 1.2rem;
  box-sizing: border-box;
  height: auto;
  max-width: 29rem;
  position: absolute;
  width: 80%;
}

.dialog-box--close {
  background: transparent;
  border-radius: 0.25rem;
  border: var(--border);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family);
  margin-bottom: 0.5em;
  padding: 0.4em;
}

#dialog-box--choices {
  list-style-type: none;
}

#dialog-box--choices li {
  margin-bottom: 0.33rem;
}

#dialog-box--choices li[data-selected="true"] {
  position: relative;
}

#dialog-box--choices li[data-selected="true"]:before {
  content: url("../images/select-hand.png");
  height: 0.7rem;
  left: -3rem;
  position: absolute;
  transform: scale(0.13);
  width: 0.7rem;
}
