#help {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
}

.help__list {
  background: var(--blue-gradient);
  border-radius: 0.25rem;
  border: var(--border);
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0.4rem;
}

.help--expanded .help__list {
  display: inherit;
}

.help--expanded .help__trigger {
  display: none;
}
