#help {
  position: absolute;
  right: 15px;
  top: 15px;
}

.help__list {
  background: var(--blue-gradient);
  border-radius: 5px;
  border: var(--border);
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0.4em;
}

.help--expanded .help__list {
  display: inherit;
}

.help--expanded .help__trigger {
  display: none;
}

.help__trigger {
  background: var(--blue-gradient);
  border-radius: 5px;
  border: var(--border);
  color: var(--white);
  font-family: var(--font-family);
  padding: 0.4em;
}
