.interaction {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.interaction button {
  background: var(--blue-gradient);
  border-radius: 5px;
  border: var(--border);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1.2em;
  padding: 0.4em;
}
