.movements {
  align-items: center;
  bottom: 0.7rem;
  display: flex;
  left: 0.7rem;
  position: absolute;
}

.movements--middle {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.movements button {
  margin: 0.3rem;
}
