.movements {
  align-items: center;
  bottom: 15px;
  display: flex;
  left: 15px;
  position: absolute;
}

.movements--middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movements button {
  margin: 7px;
}
