:root {
  --black: #000;
  --white: #fff;
  --blue-gradient: linear-gradient(
    to bottom,
    #0205cc 0%,
    #0a40d6 0%,
    #03166d 100%
  );
  --border: 2px solid var(--white);
  --font-family: "VT323", monospace;
}

html {
  background-color: var(--black);
  height: 100%;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 24px;
}

body {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: var(--font-family);
}

canvas {
  background: var(--black);
  display: block;
  height: 100%;
}

a {
  color: var(--white);
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.cv {
  align-items: center;
  background: var(--blue-gradient);
  border-radius: 5px;
  border: var(--border);
  color: var(--white);
  font-family: var(--font-family);
  left: 15px;
  padding: 0.4em;
  position: absolute;
  top: 15px;
}

@media (min-width: 600px) {
  body {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.4rem;
  }
}
