:root {
  --black: #000;
  --white: #fff;
  --blue-gradient: linear-gradient(
    to bottom,
    #0205cc 0%,
    #0a40d6 0%,
    #03166d 100%
  );
  --border: 2px solid var(--white);
  --font-family: "Press Start 2P", monospace;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: var(--black);
  height: 100%;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
}

body {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 1.6rem;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: var(--font-family);
}

canvas {
  background: var(--black);
  display: block;
  height: 100%;
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.ui-box {
  background: var(--blue-gradient);
  border-radius: 0.25rem;
  border: var(--border);
  color: var(--white);
  font-family: var(--font-family);
  padding: 1rem;
}

.cv {
  align-items: center;
  left: 0.7rem;
  position: absolute;
  top: 0.7rem;
}

.interaction {
  align-items: center;
  bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 0.7rem;
}

@media (min-width: 600px) {
  button {
    font-size: 1.2rem;
  }
}
