:root {
  --black: #000;
  --white: #fff;
  --blue-gradient: linear-gradient(
    to bottom,
    #0205cc 0%,
    #0a40d6 0%,
    #03166d 100%
  );
  --border: 2px solid var(--white);
  --font-family: "VT323", monospace;
}

html {
  background-color: var(--black);
  height: 100%;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-family);
}

body {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: var(--font-family);
  font-size: 1.2em;
}

@media (min-width: 600px) {
  body {
    font-size: 1.4em;
  }
}

canvas {
  background: var(--black);
  display: block;
  height: 100%;
}

a {
  color: var(--white);
}

.commands {
  position: absolute;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.commands--left {
  left: 3%;
}

.commands--right {
  right: 3%;
}

.commands button {
  background: var(--blue-gradient);
  border-radius: 5px;
  border: var(--border);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1.2em;
  padding: 0.4em;
}

.hidden {
  display: none;
}

#dialog-box {
  background: var(--blue-gradient);
  border: var(--border);
  border-radius: 10px;
  bottom: 24%;
  padding: 1em 1em 1.2em;
  box-sizing: border-box;
  height: auto;
  max-width: 700px;
  position: absolute;
  width: 80%;
}

.dialog-box-close {
  background: transparent;
  border-radius: 5px;
  border: var(--border);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: inherit;
  margin-bottom: 0.5em;
  padding: 0.4em;
}

#dialog-box-choices {
  list-style-type: none;
}

#dialog-box-choices li {
  margin-bottom: 8px;
}

#dialog-box-choices li[data-selected="true"] {
  position: relative;
}

#dialog-box-choices li[data-selected="true"]:before {
  content: url("../images/select-hand.png");
  height: 16px;
  left: -50px;
  position: absolute;
  top: -2px;
  transform: scale(0.13);
  width: 16px;
}
